<!-- footer start -->
<footer class="footer-sec footer-sec2">
    <div class="section-overlay">
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-widget remove-before">
                        <div class="footer-widget-logo">
                            <a href="index.html"><img src="assets/images/logo/site-logo.png" alt="site-logo" /></a>
                        </div>
                        <div class="footer-widget-content mt-0">
                            <p class="ft-text">Solar plant services are packages that provide everything an from design and Solar.</p>
                        </div>
                    </div>
                </div>
                <div class="offset-md-3 col-md-6">
                    <div class="footer-infos">
                        <ul class="footer-menu">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="projects.html">Projects</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="faqs.html">FAQS</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                        <ul class="footer-contact">
                            <li>
                                <a href="tel:123456789"><i class="flaticon-call"></i> <span>+18972-213-231</span></a>
                            </li>
                            <li>
                                <a href="https://maps.app.goo.gl/qn82Cz7x39spomwg6" target="_blank"
                                    ><i class="flaticon-location"></i><span>3417 Constitution Blvd Darlington, Pennsylvania (PA), 16115</span></a
                                >
                            </li>
                            <li>
                                <a href="mailto:test@solaka.com"><i class="flaticon-email"></i><span>test@solaka.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-hr">
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr />
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright footer-copyright2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-copyright-text">
                        <p><a href="https://themeforest.net/user/mirrortheme/portfolio" class="font-18">MirrorTheme</a> @ 2024. All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-social-icon d-flex">
                        <a href="https://www.facebook.com/" target="_blank"> <i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
