<!-- footer start -->
<footer class="footer-sec" style="background: url(../assets/images/footer/footer-bg.png) no-repeat center center/cover">
    <div class="section-overlay">
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col-sm-6 col-xl-3">
                    <div class="footer-widget remove-before">
                        <div class="footer-widget-logo">
                            <a href="index.html"><img src="assets/images/logo/site-logo.png" alt="site-logo" /></a>
                        </div>
                        <div class="footer-widget-content">
                            <p class="ft-text">Solar plant services are comprehensiv packages that provide everything an from design and comprehensive packages.</p>
                            <div class="company-address d-flex">
                                <i class="flaticon-location"></i>
                                <p>3417 Constitution Blvd Darlington, Pennsylvania (PA), 16115</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 offset-xl-1 col-xl-2">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title tx-white">Our Services</h4>
                        <div class="footer-widget-content">
                            <div class="footer-links">
                                <ul>
                                    <li>
                                        <a href="service_details.html">Consultancy</a>
                                    </li>
                                    <li>
                                        <a href="service_details.html">Solar System</a>
                                    </li>
                                    <li>
                                        <a href="service_details.html">Solar Panel</a>
                                    </li>
                                    <li>
                                        <a href="service_details.html">Style Guide</a>
                                    </li>
                                    <li>
                                        <a href="service_details.html">License</a>
                                    </li>
                                    <li>
                                        <a href="service_details.html">Changelog</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 offset-xl-1 col-xl-2">
                    <div class="footer-widget pages-links">
                        <h4 class="footer-widget-title tx-white">Quick Link</h4>
                        <div class="footer-widget-content">
                            <div class="footer-links">
                                <ul>
                                    <li><a href="about.html">What We Do</a></li>
                                    <li><a href="team.html">Our Team</a></li>
                                    <li><a href="faqs.html">Faq ask</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title tx-white">Newsletter</h4>
                        <div class="footer-widget-content">
                            <p>Let's subscribe to get the latest update from Kital.</p>
                            <form action="#" class="footer-newsletter">
                                <input placeholder="Enter your email" class="form-control" type="email" />
                                <button><i class="flaticon-send"></i></button>
                            </form>
                            <div class="footer-social">
                                <div class="footer-social-icon d-flex">
                                    <a href="https://www.facebook.com/" target="_blank"> <i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-copyright-text">
                        <p><a href="https://themeforest.net/user/mirrortheme/portfolio" class="font-18">MirrorTheme</a> @ 2024. All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="footer-short-link d-flex justify-content-md-end">
                        <li><a href="contact.html">Privacy & Terms</a></li>
                        <li><a href="faqs.html">FAQS</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
