<!--Start Main Header One -->
<header class="main-header main-header-one">
    <div id="sticky-header" class="menu-area">
        <div class="main-header-one__outer">
            <div class="main-header-one__right">
                <div class="container">
                    <div class="menu-area__inner">
                        <div class="mobile-nav-toggler align-items-center">
                            <div class="site-ligo">
                                <a href="index.html"><img src="../assets/images/logo/logo1.png" alt="site-logo" /></a>
                            </div>
                            <i class="fas fa-bars"></i>
                        </div>
                        <div class="menu-wrap">
                            <nav class="menu-nav">
                                <div class="main-header-one__inner">
                                    <div class="main-header-one__bottom">
                                        <div class="main-header-one__bottom-left d-flex">
                                            <div class="site-ligo d-flex align-items-center">
                                                <a href="index.html"><img src="../assets/images/logo/site-logo.png" alt="site-logo" /></a>
                                            </div>
                                            <div class="navbar-wrap main-menu">
                                                <ul class="navigation">
                                                    <li class="menu-item-has-children">
                                                        <a href="#">Home</a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="index.html">Home One</a>
                                                            </li>
                                                            <li>
                                                                <a href="home2.html">Home Two</a>
                                                            </li>
                                                            <li>
                                                                <a href="home3.html">Home Three</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item-has-children">
                                                        <a href="#">Pages</a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="team.html">Team</a>
                                                            </li>
                                                            <li>
                                                                <a href="team_details.html">Team Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="projects.html">Projects</a>
                                                            </li>
                                                            <li>
                                                                <a href="project_details.html">Project Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="error.html">404</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item-has-children">
                                                        <a href="#">Projects</a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="Projects.html">Projects</a>
                                                            </li>
                                                            <li>
                                                                <a href="Project_details.html">Project Details</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item-has-children">
                                                        <a href="#">Blog</a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="blog.html">Blog</a>
                                                            </li>
                                                            <li>
                                                                <a href="blog_details.html">Blog Details</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="contact.html">Contact</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="main-header-one__bottom-right">
                                            <div class="site-contact">
                                                <a href="#" class="contact-phone"><i class="flaticon-call"></i>+ 877 485 0700</a>
                                            </div>

                                            <div class="btn-box">
                                                <a class="thm-btn thm-btn-style2" href="contact.html">Contact Us <i class="flaticon-next"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>

                    <!-- Mobile Menu  -->
                    <div class="mobile-menu">
                        <nav class="menu-box">
                            <div class="close-btn">
                                <i class="fas fa-times"></i>
                            </div>
                            <div class="nav-logo">
                                <a href="index.html"><img src="../assets/images/logo/site-logo.png" alt="Logo" /></a>
                            </div>
                            <div class="menu-outer">
                                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                            </div>
                            <div class="contact-info">
                                <div class="icon-box">
                                    <i class="flaticon-call"></i>
                                </div>
                                <p>
                                    <a href="tel:123456789">(629) 555-0129</a>
                                </p>
                            </div>
                            <div class="social-links">
                                <ul class="clearfix list-wrap">
                                    <li>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="menu-backdrop"></div>
                    <!-- End Mobile Menu -->
                </div>
            </div>
        </div>
    </div>
</header>
