<!-- JS here -->
<script src="assets/js/jquery-3.6.0.min.js"></script>
<script src="assets/js/ajax-form.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.appear.js"></script>
<script src="assets/js/jquery.circleType.js"></script>
<script src="assets/js/jquery.lettering.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/jquery.nice-select.min.js"></script>
<script src="assets/js/jquery.odometer.min.js"></script>
<script src="assets/js/jquery-sidebar-content.js"></script>
<script src="assets/js/nouislider.min.js"></script>
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/noframework.waypoints.min.js"></script>
<script src="assets/js/progressBar.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>





<script src="assets/js/main.js"></script>

</body>

</html>